* {
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}
.hero-btn__contact {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #c0c0c2;
    border-radius: 3px;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: absolute;
    justify-content: center;
    transform: translate(-50%);
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.4s ease 0s;
}
.hero-btn__contact:hover {
    color: #fff;
    border: 1px solid #3295ff;
    background: #007bff;
}
.hero-btn-projects{
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #c0c0c2;
    border-radius: 3px;
    padding: 6px 17px;
    font-size: 17px;
    background: transparent;
    position: relative;
    top: 20px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.hero-btn-projects:hover{
    color: #fff;
    border: 1px solid #3295ff;
    background: #007bff;
}